* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  min-height: 0;
  min-width: 0;
}

.swiper-build {
  overflow: hidden;
}

.swiper-build .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.swiper-build .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  width: 100%;
}

._ibg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
}

body {
  color: #fff;
  font-size: 14px;
  font-family: "Arial";
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 20px;
}

.header {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.game {
  background-color: #313131;
  min-height: 100vh;
  width: 100%;
  font-family: 'Arial';
}

.game__container {
  margin: 0 auto;
  padding: 0px 15px;
  max-width: 1300px;
}

.game__body {
  padding: 20px 0px 0px 0px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d1b1b;
  padding: 90px 15px 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.menu__body._active {
  opacity: 1;
  visibility: visible;
}

.menu__body::before {
  content: '';
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #313131;
}

.menu__btn {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.025em;
  position: relative;
  z-index: 3;
  color: inherit;
}

.menu__btn._hidden {
  display: none;
}

.menu__close {
  width: 40px;
  height: 30px;
  position: relative;
  z-index: 3;
  display: none;
}

.menu__close._active {
  display: block;
}

.menu__close span {
  display: block;
  position: relative;
}

.menu__close span:before,
.menu__close span:after {
  content: '';
  width: 100%;
  display: block;
  height: 2px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__close span:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu__close span:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__list {
  max-width: 1000px;
}

.menu__item:not(:last-child) {
  margin: 0px 0px 34px 0px;
}

.menu__link {
  font-size: 24px;
  letter-spacing: 0.045em;
  font-weight: 700;
  color: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 116.66667%;
}

.menu__link:before {
  margin: 0px 12px 0px 0px;
}

@media (max-width: 1170px) {
  .menu__close {
    width: calc(30px + 10 * ((100vw - 320px) / 850));
  }

  .menu__close {
    height: calc(20px + 10 * ((100vw - 320px) / 850));
  }
}

@media (any-hover: hover) {
  .menu__close:hover span:before,
  .menu__close:hover span:after {
    background-color: #71f13f;
  }

  .menu__link:hover {
    color: #71f13f;
  }
}